	@import 'plants_media_default.css';
	@import 'plants_media_320.css' (min-width: 320px) and (max-width: 480px);
	@import 'plants_media_480.css' (min-width: 481px) and (max-width: 640px);
	@import 'plants_media_640.css' (min-width: 641px) and (max-width: 960px);
	@import 'plants_media_960.css' (min-width: 961px) and (max-width: 1024px);
	@import 'plants_media_1024.css' (min-width: 1025px) and (max-width: 1280px);
	@import 'plants_media_1280.css' (min-width: 1281px) and (max-width: 1999px);
	@import 'plants_media_2000.css' (min-width: 2000px);

	#mapinner{
		display:block;
		height:100%;
	}

	#mapid{
		width:100%;
		height:100%;
	}


	#mapframe{
		display:flex;
		flex-direction:column;
		grid-area:map;
		border:10px solid pink;
	}



	#imageview{
		display:flex;
		flex-direction:column;
		overflow-y:auto;
	}
	#picframe{
		display:flex;
		flex-direction:column;
		position:relative;
		margin:unset;
		width:100%; 
		height:100%;
		padding:5pt;
		box-sizing:border-box;
	}
	#mainImageA{
		display:grid;
		grid-template-columns:1fr;
		grid-template-rows:auto 1fr;
		height:100%;
		padding:0;
		border:0;
		margin:0;
	}
	img#mainImage{
		image-orientation: from-image;
		position:relative;
		object-fit:contain;
		width:100%;
		height:100%;
	}

	#imageinfo{
		position:relative;
		text-align:center;
		margin:0;
	}

	#rightview{
		position:relative;
		display:inline-flex;
		/*display:flex;
		flex-direction:row;*/
		width:100%;
	}
	#mainarea{
		grid-area:main;
		display:block;
		overflow:auto;

	}


	#content
	{
		display:flex;
		position:relative;
		left:0;
		right:0;
		bottom:0;
		top:0;
		height:100%;
	}
	.thumb{
		object-fit:contain;
		width:100%;
		align-self:center;
		
	}
	.thumbHolder{
		display:flex;
		flex-direction:column;
		border:solid 1px black;
		background-color: cadetblue;
		width:100%;
	}

	#piccontainerCont{
		display:block;
		grid-area:thumb;
		overflow-y:clip;
		overflow-x:clip;
		max-height:600px;
	}
	#piccontainer{
		display : grid;
		overflow-y:scroll;
		overflow-x:clip;
		align-content:baseline;
		align-items;
		height:100%;
		width:100%;
		padding:5pt;
		padding-right:0;
		box-sizing:border-box;
		
	}
	#loading{
		position:absolute;
		z-index:10;
	}
	/*
	@media (orientation: landscape){
		#piccontainer{
			grid-template-columns: repeat(10,1fr);
		}
	}

	@media (orientation: portrait){
		#piccontainer{
			grid-template-columns: repeat(6,1fr);
		}
	}
	*/
	#filtercont {
		grid-area:filter;
		display:flex;
		flex-direction:column;
		background-color:pink;
	}
	#filter {
		display:flex;
		flex-direction:column;
	}
	#filterOptions{
	}
	.filterOptionsOption{
		border:solid black 1px;
	}
	#pagnation{
		position:relative;
	}
	#imagesPerPage{
	}
	#l-numberOfPages{
	}
	#back{
	}
	#forwards{
	}
	#l-page{
	}
	#pageNumber{
	}
	#l-of{
	}
	#pageCount{
	}
	.toggleControl{
		width:100%;
		border:solid;
		margin-top:1px;
		margin-bottom:5px;
	}
	.toggleControl:hover{
		cursor:pointer;
	}
	.a1 {grid-area:a1}
	.a2 {grid-area:a2}
	.a3 {grid-area:a3}
	.b1 {grid-area:b1}
	.b2 {grid-area:b2}
	.b3 {grid-area:b3}
	.c1 {grid-area:c1}
	.c2 {grid-area:c2}
	.d1 {grid-area:d1}
	.d2 {grid-area:d2}
	.e1 {grid-area:e1}
	.e2 {grid-area:e2}
	#options{
		display:grid;
/*a1 a1 a2 a2 a3 a3*/
/*b1 b1 b1 b2 b2 b2*/
		grid-template-areas:
		'a1 a1 a2 a2 a3 a3'
		'b1 b1 b2 b2 b3 b3'
		'c1 c1 c1 c2 c2 c2'
		'd1 d1 d1 d2 d2 d2'
		'e1 e2 . . . .'
		;
	}
	.dropcollection{
		display:grid;
		grid-template-columns:auto;
		height:100%;
	}
	.dropitem{
	}
	#DateRange{
		//grid-row:1;
	}
	#DateFromSelect{
	}
	#Dates{
		//grid-row:2;
		//grid-column:2;
		display:grid;
		align-content:flex-start;
	}
	#Dates p{
		margin:0;
		padding:0;
	}
	#dateselect{
	}
	#control{
		//grid-row:1;
		//grid-column:3;
	}
	#controls{
		//grid-column:3;
	}
	#frompicker{
		float:right;
		z-index:1000;
	}
	#topicker{
		float:right;
		z-index:1000;
	}
	.ui-datepicker {  z-index: 9999 !important; }
	.test{
		background-color:red;
	}

/*
	@media (orientation: landscape){
		main{
		grid-template-areas:
			  "filter map map"
			  "thumb thumb thumb"
			  "main main main";
		grid-template-rows:auto auto 500px;
		}

		#imageview{
  			height: 100%;
		}
		#content{
			flex-direction:row;
		}
		#mapframe{
		}
	}

	@media (orientation: portrait){
		main{
		grid-template-areas:
			  "filter filter filter"
			  "map map map "
			  "thumb thumb thumb"
			  "main main main" ;
		grid-template-rows:auto 500px auto auto ;
		}

		#imageview{
			width:100%;
		}
		#content{
			flex-direction:column;
		}
		#mapframe{
		}
	}
	*/


