figure{
	border:solid 5pt grey;
}
main{
	display:flex;
	flex-direction:column;
}
#map{
	position:relative;
	width:100%;
}
#svg{
	width:450px;
	height:450px;
	display:block;
	position:relative;
	border:solid 1pt grey;
	background-color:#6060C4;
	z-index:1;
	transform-origin:center center;
}
svg{
	width:100%;
	height:100%;
}
#debug{
	position:relative;
	width:100vw;
	height:400px;
}
textarea{
	height:100%;
	width:100%;
}

#map{
	visibility:visible;
}
path.trunk{
	stroke:#F9B29C;
	stroke-width:.4;
}
path.path{
	stroke:#EFAD9A;
	stroke-dasharray:.2 .2;
}
path.residential{
	stroke:white;
	stroke-width:.1;
}
path.tertiary{
	stroke:black;
}
path.primary{
	stroke:#f9b29c;
	stroke-width:.4;
}
path.pedestrian{
	stroke:orange;
}
path.footway{
	stroke:#ccd98f;
}
path.unclassified{
	stroke:blue;
}
path.service{
	stroke:yellow;
}
path.cycleway{
	stroke:turquoise;
}
path.bridleway{
	stroke:red;
}
path.rail{
	stroke:black;
	stroke-width:.2;
}
